.second {
    width: 100%;
    margin-top: 113px;
    position: relative;
    overflow: hidden;

    #elipse-1 {
        position: absolute;
        left: -30%;
        top: -50%;
    }

    #elipse-2 {
        position: absolute;
        right: -40%;
        bottom: -30%;
    }

    &__main {
        display: flex;
        flex-direction: column;
        justify-content: center;
        align-items: center;
        width: 100%;
        max-width: 1440px;
        margin: 0 auto;

        &-overtext {
            margin-top: 96px;
            font-style: normal;
            font-weight: 400;
            font-size: 24px;
            line-height: 32px;

            text-align: center;
            color: #FFB60E;
            margin-bottom: 16px;
        }

        &-headline {
            font-style: normal;
            font-weight: 600;
            font-size: 48px;
            line-height: 64px;
            margin-bottom: 32px;

            text-align: center;
            color: #FFFFFF;
        }

        &-subtext {
            font-style: normal;
            font-weight: 400;
            font-size: 16px;
            line-height: 24px;
            text-align: center;
            color: #FFFFFF;
            margin-bottom: 68px;
        }

        &-customers {
            font-weight: 600;
            font-size: 24px;
            line-height: 32px;
            text-align: center;
            margin-bottom: 37px;

            color: #FFFFFF;
        }

        &-button {
            padding: 14px 32px;
            background: linear-gradient(273.72deg, #FC4B2C 0%, #FFB60E 100%);
            border-radius: 50px;
            border: none;
            font-style: normal;
            font-weight: 600;
            font-size: 16px;
            color: #1E1E2C;
            margin-bottom: 101px;
            width: fit-content;
        }

        &-content {
            display: grid;
            grid-template-columns: 40% 20% 40%;
            margin-bottom: 96px;

            &-with {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    size: 100%;
                }

                .pills {
                    margin-bottom: 32px;
                    background: #E52B20;
                    border-radius: 15px;
                    padding: 4px 16px;
                }
            }

            &-vs {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                img {
                    size: 100%;
                }
            }

            &-without {
                display: flex;
                flex-direction: column;
                align-items: center;
                justify-content: center;

                .pills {
                    margin-bottom: 32px;
                    background: #63CE63;
                    border-radius: 15px;
                    padding: 4px 16px;
                }

                img {
                    size: 100%;
                }
            }
        }
    }
}